### Java ###
*.class
*.jar
*.war
*.ear
*.log

### Maven ###
/target/
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### OS Files ###
.DS_Store
Thumbs.db

### Others ###
*.swp
*~.nib
*.bak
*.tmp
*.rej
*.orig
